<!DOCTYPE html>
<html>
<head>
    <title>@Page.Title</title>
    <link href="@Url.Content("~/Content/layout.css")" rel="stylesheet" />
    @RenderSection("style", required: false)
</head>
<body>

<div>
    <div class="top-header">
        <span class="header-text">ASP.NET MVC Cache Demo</span>
    </div>
    <div class="navigator">
        <ul>
            <li><a href="@Url.Action("Index", "Home")">Home</a></li>
            <li><a href="@Url.Action("About", "Home")">About</a></li>
            <li><a href="@Url.Action("Value", "Home")">Value</a></li>

        </ul>
    </div>
    <div class="container">
        @RenderBody()
    </div>
    <div class="footer">
        <a href="http://www.cnblogs.com/farb">博客园-tkb至简 www.cnblogs.com/farb</a>
    </div>

</div>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery-1.10.2.intellisense.js"></script>
    @RenderSection("script",false)
</body>
</html>
